<input *ngFor="let command of displayedColumns.listTopMenuCommand" type="button" value="{{command.getName()}}" class="btn btn-primary" (click)="command.execute(selectedRow, getAfterFinishChangeItem())" />
<mat-paginator *ngIf="totalCount>pageSize && totalCount>0" [length]="totalCount" [pageSize]="pageSize" (page)="onPaginate($event)"></mat-paginator> 

<table mat-table [dataSource]="resultHttpQuery.items" class="mat-elevation-z0" multiTemplateDataRows>
  <ng-container [matColumnDef]="column.value" *ngFor="let column of displayedColumns.columns">
    <th mat-header-cell *matHeaderCellDef> {{column.displayName}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column.value]}} </td>
  </ng-container>

   <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.columns.length">
      <div class="example-element-detail"  
           [@detailExpand]="row.id == selectedRow.id ? 'expanded' : 'collapsed'">
           <input *ngFor="let command of displayedColumns.listRowCommand" type="button" value="{{command.getName()}}" class="btn btn-primary" (click)="command.execute(selectedRow, getAfterFinishChangeItem())" />
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" class="example-element-row" [class.example-expanded-row]="selectedRow.id === row.id"
  (click)="selectedRow = selectedRow === row ? null : row"></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
