 <h2 mat-dialog-title>Дом</h2>
<form class="needs-validation" novalidate #myForm="ngForm" >
  <div class="form-row">
    <div class="col-4">
      <label for="number">Номер дом</label>
      <div class="md-form">
        <input id="number" name="number" class="form-control" [ngClass]="{ 'is-invalid': number.invalid && (number.dirty),'is-valid': number.valid  }"  required  [(ngModel)]="item.number" #number="ngModel">
        <div *ngIf="number.invalid && (number.dirty)">
          <div *ngIf="number.errors.required" class="invalid-feedback" style='display: block;'>Поле обязательное. </div>
        </div>
      </div>
    </div> 

    <div class="col-4">
      <label for="countOfEntrance">Количество подъездов</label>
      <div class="md-form">
        <input id="countOfEntrance" name="countOfEntrance" class="form-control" [(ngModel)]="item.countOfEntrance" #countOfEntrance="ngModel">
      </div>
    </div> 

    <div class="col-4">
      <label for="countOfFloor">Количество зтажей</label>
      <div class="md-form">
        <input id="countOfFloor" name="countOfFloor" class="form-control"  [(ngModel)]="item.countOfFloor" #countOfFloor="ngModel">
      </div>
    </div> 
  </div>

    
  <div class="form-group">
    <div class="row">
      <div class="col-sm-12">
      <h4 class="mb-3">Квартиры</h4>
    </div>
    </div>
  </div>
    <div class="row">
      <div class="col-sm-12">
         <grid [listTemplateConfiguration] = "gridConfigurationHouse" [crudAdapter]="crudAdapterHouse"></grid>
      </div>
    </div>

<div mat-dialog-actions class="form-row p-3">
  <button mat-button mat-dialog-close class="btn btn-outline-danger" type="button">Отмена</button>
  <button class="btn btn-successy ml-1" type="submit" (click)="ok()">Сохранить</button>
</div>
</form>

