<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 <!-- <top-side></top-side>-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/street">Улицы</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Дома</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">О программе</a>
      </li>
    </ul>
  </div>
 
  <div class="dropdown" *ngIf="profileData.isAuthorize">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
      {{ profileData.email }}
    </button>
    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" routerLink="/profile">Мой кабинет</a></li>
      <li><a class="dropdown-item red" (click)="logout()" >Выход</a></li>
    </ul>
  </div>
  
  <a class="nav-link red" routerLink="/login" *ngIf="!(profileData.isAuthorize)">Логин</a>
  </nav>
 <div class='container-fluid'>
    <router-outlet></router-outlet>
 </div>

 