@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, Arial, sans-serif;
  padding-top: 30px;
}

.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}
tr.mat-footer-row {
  font-weight: bold;
}
.btn
{
   margin: 3px;
    padding: 3px;
}
.mat-raised-button
{
  margin: 10px;
}
table.mat-table {
  border: 1px solid #c3c3c3 !important;
}
table thead
{
  background: #e4e4e4 !important;
}
table thead tr th{
  font-weight: bold  !important;
    font-size: 14px  !important;
}
td {
  border: 1px solid #c3c3c3;
  padding: 0px 5px 0px 5px !important;
}
