<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/street">Улицы</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Дома</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">О программе</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Логин</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Выход</a>
      </li>
    </ul>
  </div>